.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
*.iml
.idea/
.vscode/
android/local.properties
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
tools/seed/node_modules/
tools/seed/serviceAccountKey.json